@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background: url("/images/bg-pattern-desktop.svg") no-repeat center
    center/cover;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Josefin Sans", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main .left {
  padding: 3.64rem 0rem;
}

main .left .logo {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

main .left .mobile-image {
  min-height: 16.875rem;
  margin-block: 3rem;
}

main .left .mobile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .left .body {
  padding-inline: 1.5rem;
}

main .left .body h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 1.5rem;
  text-align: center;
}

main .left .body h1 > span {
  color: hsl(0, 36%, 70%);
  font-weight: 200;
}

main .left .body p {
  color: hsl(0, 36%, 70%);
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
}

main .left .body .input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .left .body .input-box input {
  background: transparent;
  width: 66.5%;
  color: hsl(0, 36%, 70%);
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid hsl(0, 36%, 70%);
  outline: none;
}

main .left .body .input-box input:invalid {
  border: 2px solid hsl(0, 93%, 68%);
}

main .left .body .input-box .error-icon {
  display: none;
  position: absolute;
  right: 30.7%;
  top: 14%;
}

main .left .body .input-box .error-icon.active {
  display: inline;
}

main .left .body .input-box button {
  position: absolute;
  right: 15.7%;
  background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 0.5rem 2.4rem;
  margin-bottom: 2rem;
  font-weight: 400;
  border-radius: 55px;
  border: none;
  outline: none;
  cursor: pointer;
}

main .left .body .input-box button:hover {
  background: hsl(0, 81%, 90%);
}

main .left .body .input-box button svg {
  margin-top: 0.4rem;
}

main .right  {
  display: none;
  position: relative;
  height: 100%;
}

main .right img {
  display: none;
  height: 100%;
  object-fit: cover;
}

@media (width >= 53.625rem) {
  main {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  main .left {
    width: 77%;
    padding: 3.64rem 6rem;
  }

  main .left .logo {
    margin-left: 0;
    margin-bottom: 6rem;
  }

  main .left .mobile-image img,
  main .left .mobile-image {
    display: none;
  }

  main .left .body {
    padding-inline: 0;
  }

  main .left .body h1,
  main .left .body p {
    text-align: left;
  }

  main .left .body .input-box {
    display: block;
  }

  main .left .body .input-box .error-icon {
    position: absolute;
    right: 51.7%;
    top: 14%;
  }

  main .left .body .input-box button {
    right: 33.2%;
  }

  main .right ,
  main .right img {
    display: block;
  }
}

@media (0 <= width <= 26.25rem) {
  main .left .body .input-box button {
    padding: 0.5rem 1.7rem;
  }

  main .left .body .input-box .error-icon {
    display: none;
  }
}

@media (0 <= width <= 16.25rem) {
  main .left .logo {
    margin-left: 1rem;
  }
}
